.email-details {
  padding: 10px 30px 0;
  height: 100%;
  background: white;
  border-radius: 25px;
}

.tool-bar{
  padding-bottom: 20px;
}

.head-email{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link-title{
  background-color: black;
  color: white
}

.email-details-subject {
  font-size: 25px;
  font-family: Monaco;
}

.email-details-sent-at {
  font-size: 70%;
  color: grey;
  display: flex;
  justify-content: flex-end;
}


.email-details-from span{
  color: gray;
}

.email-details-to span{
  color: gray;
}

.email-details-from{
  padding-top: 13px;
}


.email-details-to {
  padding-left: 20px;
}

.email-details-body {
  font-family: sans-serif;
  padding-top: 20px;
  font-size: 13px;
  width: 81%;
}

.go-back{
  font-size: 22px;
  color: grey;
}