.app-header {
    background: #f6f8fc;
    color: black;
    grid-area: header;
}

.app-header section.container {
    padding: 10px;
}

.app-header section.container img{
    padding-top: 15px;
}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}

.hamburger-button:hover {
    background-color: rgba(60, 64, 67, .1)
}

.hamburger-button{
    display: none;
    font-size: 20px;
    color: #5f6368;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

/* @media (max-width: 600px){
    .app-header.hamburger-button{
        grid-area: hamburger;
    }

    .app-header.email_logo{
        grid-area: header;
    }
} */