.email-preview {
  font-weight: bold;
  background-color: white;
  height: 40px;
  border: 1px solid transparent;
  padding: 0 13px;
  grid-template-columns: 70px 1fr 70px;
  font-size: 14px;
  position: relative;
  align-items: center;
}

.email-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}

a.email-link {
  text-decoration: none;
  color: inherit;
}

.email-link-grid {
  display: grid;
  grid-template-columns: 140px 100px 1fr;
}

.read.email-preview {
  font-weight: normal;
  background-color: #f2f6fc;
}

.email-actions-start {
  grid-auto-flow: column;
  place-items: center;
}

/* star */
.star-marker {
  color: #c4c7c5;
}

.star-marker.star-marked {
  color: rgb(234, 234, 14);
}

/* subject */
.email-preview-subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* body */
.email-preview-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 12px;
  color: #5f6368;
  font-weight: normal;
}

/* Sent At */
.email-preview-sent-at {
  color: grey;
  font-size: 85%;
  padding-left: 27px;
}

.draft-style {
  color: red;
}

@media (max-width: 600px) {
  .email-preview {
    grid-template-columns: 1fr 70px;
  }

  .email-actions-start {
    place-items: center;
    display: none;
  }
}