.email-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  margin-right: 35px;
  grid-area: email-list;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 530px;
}

ul.email-list {
  background-color: white;
  border-radius: 25px;
}


