

.hamburger-button:hover {
  background-color: rgba(60, 64, 67, .1)
}

.hamburger-button{
  font-size: 20px;
  color: #5f6368;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  border: none;
}

@media (max-width: 600px){
  .email-hamburger{
      grid-area: hamburger;
  }
}