.email-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  margin-right: 10px;
  grid-area: email-list;

}


ul.email-list {
  background-color: white;
  border-radius: 25px;
}

/* remove */

.delete-email{
  cursor: pointer;
  display: none;
}

/* read-unread */
.unread-mail{
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  display: none;
}

.read-mail{
  font-weight: normal;
  cursor: pointer;
  background-color: #f6f8fc;
  display: none;
}


.email-preview:hover .email-preview-sent-at{
  display: none;
}