.email-preview {
  font-weight: bold;
  background-color: #f6f8fc;
  height: 40px;
  border: 1px solid transparent;
  padding: 0 13px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 31px 32px 1fr;
  font-size: 14px;
  position: relative;
  z-index: 1;
  align-items: center;
}

.email-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  cursor: pointer;
  z-index: 2;
}

a.email-link {
  text-decoration: none;
  color: inherit;
}

.email-link-grid {
  display: grid;
  grid-template-columns: 90px 100px auto 74px;
}

.read.email-preview {
  font-weight: normal;
  background-color: white;

}

/* star */
.star-marker {
  color: #c4c7c5;
}

.star-marker.star-marked {
  color: rgb(234, 234, 14);
}

/* subject */
.email-preview-subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* body */
.email-preview-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 12px
}


/* Sent At */
.email-preview-sent-at {
  color: grey;
  font-size: 85%;
  padding-left: 27px;
}

/* Transition design with the mouse on each email-preview */

.email-preview:hover .email-preview-sent-at {
  display: none;
}

/* .email-preview:hover .delete-email {
  display: inline;
  position: absolute;
  right: 75px;
  top: 125px;
  z-index: 2;
} */

/* 
QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ */
.svg.delete-email{
  display: inline;
  position: absolute;
  right: 75px;
  top: 125px;
  z-index: 2;
}